.jumbotron
  .container
    .row
      .col-md-4
        = image_tag @user.avatar.url(:original), width: '200', class: "img-responsive"
      .col-md-4
        %h3
          = @user.username
        %p Age: #{@user.age}
        %p Gender #{@user.gender}
      .col-md-4
        %h3 Who am I
        %small #{@user.bio}
